/target
hello-rust/target
*/node_modules/*
*node_modules*
.DS_Store
fork-ts-checker-webpack-plugin
.VSCodeCounter
**/node_modules
.vscode
*todel*
*.class
*dist*
pnpm-lock.yaml
.DS_Store
coverage
.nyc_output
node_modules
/dist
/es
/types

/tests/e2e/videos/
/tests/e2e/screenshots/
tailwind.config.js
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

webapp
idg-cdn
to-del/
*check-todel*
# project note
README.local.md
gui.json
todel.js*
packages/gui/controllers/generators/android/aa.ts
dianshang.ts
packages.alex.dev.ts
src-tauri/target
