.c-card {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

.c-card .box {
  height: 60px;
  background-color: #2a2a32;
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition-property: filter;
  transition-timing-function: ease-in-out;
  transition-duration: .1s;
}

.c-card .box .logo {
  box-sizing: border-box;
  font-family: "Radiance","Noto Sans",sans-serif;
}

.c-card .box .logo img {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  opacity: 1;
}

.c-card .box .name {
  flex-grow: 1;
  color: #a89b9b;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 30px;
}

.c-card .box .total-points {
  width: 200px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
}

.c-card .expand {
  height: 0;
  overflow: hidden;
  padding: 0px 30px;
	display: flex;
  flex-direction: column;
  background-color: #18181d;
	transition-property: height;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
}

.c-card .expand.show {
  padding-top: 4px;
  padding-bottom: 4px;
}

.c-card .expand .league {
  height: 40px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-property: height;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
}

.c-card .expand .league .time {
  width: 200px;
  min-width: 200px;
  color: #a3a3a3;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
}

.c-card .expand .league .img {
  width: 77px;
  min-width: 77px;
  height: 30px;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-card .expand .league .standing {
  width: 60px;
  min-width: 60px;
  color: #ccc;
  font-size: 14px;
  font-weight: 700;
  padding-left: 30px;
}

.c-card .expand .league .name {
  flex-grow: 1;
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 30px;
}

.c-card .expand .league .points {
  width: 200px;
  min-width: 200px;
  color: #ddd;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
}
