.p-index {
  /* background-color: #161618; */
}

.p-index .title {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  border-bottom: 2px solid #ff6046;
}

.p-index .select {
  color: #fff;
  box-sizing: border-box;
  font-family: "Radiance","Noto Sans",sans-serif;
  height: 30px;
  position: relative;
  width: 250px;
}

.p-index .select-input {
  box-sizing: border-box;
  font-family: "Radiance","Noto Sans",sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 11px;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  clip-path: polygon(0px 0px, calc(100% - 30px) 0px, calc(100% - 40px) 100%, calc(100% - 35px) 100%, calc(100% - 25px) 0px, calc(100% + 2px) 0px, calc(100% + 2px) 100%, 0px 100%);
  appearance: none;
  outline: none;
  border: none;
  position: relative;
  background: linear-gradient(108deg, #41474E 0%, #41474E calc(100% - 33px), #FF6046 calc(100% - 33px), #FF6046 100%);
}

.p-index .value {
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  font-family: "Radiance","Noto Sans",sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.p-index .right-bar {
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  box-sizing: border-box;
  font-family: "Radiance","Noto Sans",sans-serif;
  width: 7.5px;
  height: 12.5px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(270deg);
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: .1s;
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/arrow_solid_left.png");
}

.p-index .option-box.unshow {
  color: #fff;
  box-sizing: border-box;
  font-family: "Radiance","Noto Sans",sans-serif;
  width: 100%;
  position: absolute;
  top: 34px;
  z-index: 10;
  background-color: #2e3339;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: .1s;
  box-shadow: 4px 4px 8px rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-index .option-box.show {
  color: #fff;
  box-sizing: border-box;
  font-family: "Radiance","Noto Sans",sans-serif;
  width: 100%;
  position: absolute;
  top: 34px;
  z-index: 10;
  background-color: #2e3339;
  border-radius: 3px;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: .1s;
  box-shadow: 4px 4px 8px rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  pointer-events: initial;
}

.p-index .option {
  pointer-events: initial;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  font-family: "Radiance","Noto Sans",sans-serif;
  color: #a3a3a3;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 6px;
}

.p-index .loading img {
  margin: 0 auto;
  width: 140px;
}

.p-index .error {
  text-align: center;
  font-family: "Radiance","Noto Sans",sans-serif;
  color: #a89b9b;
  font-size: 15px;
  font-weight: 700;
}
