@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
}

.app-container {
  // margin-bottom: 50px;
  min-height: 100vh;
}

.layout-content {
  height: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}